/* nav css */

.nav-logo {
    width: 10%;
    padding: 2%;
    margin: 1%;
    text-align: center; 
  }
  nav {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-right: 3%;
  }

a {
  color: black;
  font-weight: lighter;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;
}

/* about me HOMEPAGE */

.about-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.about-page{
    margin: 7%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.center-block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    position:relative;
    max-width: 500%;
    height: 450pt;
    margin: 0%;
}

.about{
    height: 200pt;
    width: 347pt;
    align-self: flex-start;
    padding: 12%;
    margin-top: 30px;
    margin-left: 90px;
    justify-content: right;
}

.aboutmeText{
    font-family: 'Raleway', sans-serif;
    font-size: 17.5pt;
    word-spacing: 1.5pt;
    line-height: 27pt;
    margin: 0%;
}


h1 {
    font-size: 38pt;
    font-weight: 45pt;
    margin-top: -23%;
    margin-bottom: 4%;
    align-self: top;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.block-pic-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 0 auto;
}

.about-pic{
    height: 400px;
    width: 600.96px;
    padding: 8px;
}

/* orange block */

.block-yellow{
    background-color: #FFA505;
    height: 405px;
    width: 580px;
    transform: translate(16%, -113.5%);
    box-shadow: 3px 5px 5px grey;
}

/* yellow block */
.block-orange{
    background-color: #FFE505;
    height: 395px;
    width: 585px;
    transform: translate(8%, -211%);
    box-shadow: 3px 5px 5px grey;
}

.about-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

  /* Arrow animation */

.sectionArrow {
    text-align: center; 
    margin-top: -11%;
    margin-bottom: 10%;
  }
  
  .orangeArrow {
    position: relative;
    animation-name: arrow;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
  }
  
  @keyframes arrow  {
    0%   {top:0px;}
    25%  {top:15px;}
    50%  {top:0px;}
  }

 /* About Me Profile */

.alondraContainer{
   display: grid;
   padding: 90px;
}

 .profile-container{
background-color: #fce8bf;
display: grid;
flex-direction: column;
padding: 140px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 675px;
 }

 .profile{
     background-color:#fce8bf;
     margin-top: -10%;
 }

 H2{
font-family: 'Extra Bold Raleway', sans-serif;
font-weight: 50pt;
font-size: 20pt;
line-height: 21.5pt;
letter-spacing: -.5pt;
margin-bottom: 3.5%;
text-emphasis-color: black;
}

.profileContent{
    font-size: 13pt;
    font-weight: 10pt;
    word-spacing: 1.5pt;
    letter-spacing: .2pt;
    line-height: 20pt;
    font-family: 'Cabin', sans-serif;
    margin-top: 3%;
    margin-bottom: 3.5%;
}

p.hobbyList {
    font-weight: lighter;
    font-family: 'Cabin', sans-serif;
    font-size: 13pt;
    line-height: 21pt;
    text-align: left;
    justify-content: left;
    margin-top: -.5%;
}


/* Profile Blocks css */

.pic-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.alondra-pic{
    height: 705px;
    width: 510px;
    display: start;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    transform: translate(8%, -10%);
    box-shadow: 3px 2px 0px grey;
    z-index: 1;
}

.block-yellow-profile{
    background-color: #FFA505;
    height: 730px;
    width: 550px;
    transform: translate(14%, -98%);
    box-shadow: 3px 3px 5px grey;
}

.block-orange-profile{
    background-color: #FFE505;
    height: 730px;
    width: 530px;
    transform: translate(12%, -204%);
    box-shadow: 3px 3px 5px grey;

}

/* skills css */


.skillsContainer{
    display: grid;
    padding: 90px;
    background-color: hotpink;
}

.skillsSection{
background-color: yellow;
display: grid;
flex-direction: column;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 400px;
}

.skillsCol{
background-color: red;
grid-template-rows: 300px;
}

.uxContent{
    text-align: center;

}

.uiContent{

    text-align: center;
  

}

.frontendContent{
   
    text-align: center;

}


/* footer css */

footer {
    position:sticky;
    justify-content: space-evenly;
    font-size: 11pt;
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color:#fdeed4;
    padding: 3%;
    }
    
  .footerContact{
  margin-top: 10%;
   
  }
  
  .footerLogo{
    margin-left: 10%;
    text-align: center;
    margin-top: 5%;
    margin-right: 4%;
  }
  
  .footerSocials{
    margin-top: 8%;
    margin-right: 10%;
    text-align: end;
  }






