/* nav css */

.nav-logo {
    width: 10%;
    padding: 2%;
    margin: 1%;
    text-align: center; 
  }
  nav {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-right: 3%;
  }

a {
  color: black;
  font-weight: lighter;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;
}


 /* Form css */


section{
    font-family: Raleway, sans-serif;
    background-color:#fdeed4;
    display: flex;
    height: 800px;
    margin: 5%;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 8%;
    padding: -1%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px #00000010;
}

.container{
    width: 95%;
    max-width: 600px;
    margin-top: 10px;
    padding: 2%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #00000010;
}

.form-group{
width: 100%;
margin-top: 20px;
font-size: 20px;
border-radius: 3px;
}

.form-group input,.form-group textarea{
    width: 100%;
    padding: 5x;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 3px;
    margin-top: 5px;
}

.textarea{
    resize: vertical;
}

button[type="submit"]{
    width:100%;
    border: none;
    outline: none;
    padding: 20px; 
    font-size: 24px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFA505;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s, ease background-color;
}

button[type="submit"]:hover{
background-color: #E59200;
}

#status{
 width: 90%;
 max-width: 500px;
 text-align: center;
padding: 10px;
margin: 0 auto;
border-radius: 8px;
}

#status.success{
    background-color: green;
    animation: status 4s ease forwards;
}

#status.error{
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* footer css */

footer {
    justify-content: space-evenly;
    font-size: 11pt;
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color:#fdeed4;
    padding: 3%;
    }
    
  .footerContact{
  margin-top: 10%;
   
  }
  
  .footerLogo{
    margin-left: 10%;
    text-align: center;
    margin-top: 5%;
    margin-right: 4%;
  }
  
  .footerSocials{
    margin-top: 8%;
    margin-right: 10%;
    text-align: end;
  }