/* nav css */
.nav-logo {
  width: 10%;
  padding: 2%;
  margin: 1%;
  text-align: center; 
  font-family: 'Raleway', sans-serif;
  text-align:center;
  margin-right: 3%;
  margin-top: -.3%;
  margin-bottom: -.5%;
}

nav {
  font-family: 'Raleway', sans-serif;
  text-align:center;
  margin-right: 3%;
  list-style: none;
  margin-top: .5%;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  text-align:center;
  list-style: none;
}

a {
color: black;
font-weight: lighter;
}
a:hover {
color:#F7BC54;
}

 /* Form css */
 
 h1{
  background-color:#fdeed4;
  margin-top: -5%;
  width: 95%;
  margin-left: -16%;
  margin-bottom: 12%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
 }


section{
    font-family: Raleway, sans-serif;
    background-color:#fdeed4;
    display: flex;
    height: 920px;
    margin: 5%;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 13%;
    padding: -1%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px #00000010;
}

.container{
    width: 95%;
    max-width: 600px;
    margin-top: 25px;
    padding: 2%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #00000010;
}

.form-group{
width: 100%;
margin-top: 20px;
font-size: 20px;
border-radius: 3px;
box-shadow: 0px 3px 1px #00000010;
}

.form-group input,.form-group textarea{
    width: 100%;
    padding: 5x;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 3px;
    margin-top: 5px;
}

.textarea{
    resize: vertical;
}

button[type="submit"]{
    width:100%;
    border: none;
    outline: none;
    padding: 20px; 
    font-size: 19px;
    border-radius: 8px;
    font-family: 'Semibold Raleway', sans-serif;
    background-color: #FFA505;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 35px;
    transition: .3s, ease-in-out ;
}


button[type="submit"]:hover{
  background-color:#FFA505;
  font-weight: 500px;
  color: black;
  font-weight: bold;
  font-family: 'Bold Raleway', sans-serif;
  text-emphasis-color: black;
  box-shadow: 3px 3px 3px 2px grey;
  transition: .3s, ease-in-out ;
  }


#status{
 width: 90%;
 max-width: 500px;
 text-align: center;
padding: 10px;
margin: 0 auto;
border-radius: 8px;
}

#status.success{
    background-color: green;
    animation: status 4s ease forwards;
}

#status.error{
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* footer css */

footer {
  justify-content: space-evenly;
  font-size: 18pt;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color:#fdeed4;
  padding: 4%;
  }
  

.footerAll{
  margin:0 auto;
  text-align: center;

}

.footerSocials{
  margin:0 auto;
  text-align: center;
}

