/* nav css */
.nav-logo {
  width: 10%;
  padding: 1%;
  margin: 1%;
  text-align: center; 
}

nav {
  font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 1%;
  }

a {
  color: black;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;

}

/* mockup css */

.backgroundBox{
 height: 500px;
background-color: #fdeed4 ;
margin-top: 0%;
margin-right: 5%;
margin-left: 5%;
}

.mockupContainer{
  padding: 5%;
  margin-top: 0%;
  margin-right: 3%;
  margin-left: 3%;

}

/* Case study about */


h1{
  margin-top: 4%;
  color: #FFA505;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  line-height: 45pt;
  font-size: 35pt;
  margin-bottom: 2%;
}


p.pantry{
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: #707070;
  opacity: 0.7;
  line-height: 30pt;
  font-size: 17pt;
  margin-left: 27%;
  margin-right: 27%;
}


/* content css OVERVIEW */

.contentContainer{
  display: grid;
  padding: 5px;
  background-color: green;
  margin-top: 8%;
  grid-template-columns: 1fr 1fr;
  margin-right: 5%;
  margin-left: 5%;
}

.contentOverview{
  width: 100%;
  display: grid;
  background-color: purple;
  flex-direction: column;
  padding: 75px;
  grid-template-columns: 1fr;
  grid-template-rows: 530px;
  }


H2{
  color: #FFA505;
  font-family: 'Raleway', sans-serif;
  font-size: 25pt;
  font-weight: bolder;
  letter-spacing: 1pt;
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 11%;
}

p.projectOverview{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 14pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  word-break: normal;
  margin-top: -80%;
  margin-right: 5%;
  margin-left: 5%;
 
}

.detailContainer{
  display: grid;
  padding: 25px;
  background-color: fuchsia;
  margin-top: 8%;
  grid-template-columns: 1fr 1fr;



}

.contentOverview2{
  width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: flex;
    background-color: red;
    padding: 75px;
    grid-template-rows: 530px;
  }

p.projectDetails{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 14pt;
  letter-spacing: 1pt;
  line-height: 25pt;
}






/* research css */

.researchContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* definition and synthesis css */


.defsynthContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* ideation css */


.ideationContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* low fidelity css */


.lowfiprotoContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* user testing & outcomes css */

.usertestingContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

.prototypeContainer{
  padding: 5%;
  margin-top: 0%;
  margin-right: 11%;
  margin-left: 11%;
}


/* Final Protoype */

.finalPrototypePantry{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}


button[type="finalProto"]{
  width:200px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 14px;
  font-weight: normal;
  border-radius: 8px;
  font-family: 'Cabin', sans-serif;;
  background-color: #FFA505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 42%;
  transition: .3s, ease-in ease-out;
  margin-bottom: 15%;
  

}

button[type="finalProto"]:hover{
background-color: #E59200;
font-weight: bold;
}


/* project summary css */



.summaryBox{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  background-color: #fdeed4;
  padding: 350px;
  height: 750px;
  margin-top: -5%;
  margin-right: 5%;
  margin-left: 5%;
 grid-template-rows: 10px;
  }

  .summaryTitle{
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: -55%;
    margin-left: -61%;
  }

.projectSum{
  display: grid;
  grid-template-columns: 1fr  1fr;
  color: #707070;
  background-color: red;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 11%;
}

ol {
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1.5pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 5%;
  margin-left: 11%;
}



/* projects CSS */



.arrowStudies{
  text-align: end;
  margin-bottom: 5%;
}

.sectionArrow{
  font-family: 'Raleway', sans-serif;
  color: #FFA505;
  font-size: 45pt;
  font-weight: normal; 
  transform: translate(-13%, 118%);
}

.nextArrow {
  color: #FFA505;
  margin-right: 6%;
  position: relative;
  animation-name: arrow;
  animation-duration: 4s ;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
}

@keyframes arrow {
  0%   {right:0px;}
  25%  {right:15px;}
  50%  {right:0px;}
}



/* footer css */

footer {
  justify-content: space-evenly;
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color:#fdeed4;
  padding: 3%;
  }
  
.footerContact{
margin-top: 10%;
 
}

.footerLogo{
  margin-left: 10%;
  text-align: center;
  margin-top: 5%;
  margin-right: 4%;
}

.footerSocials{
  margin-top: 8%;
  margin-right: 10%;
  text-align: end;
}
