/* nav css */
.nav-logo {
  width: 10%;
  padding: 1%;
  margin: 1%;
  text-align: center; 
}

nav {
  font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 1%;
  }

a {
  color: black;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;

}

/* mockup css */

.backgroundBox{
 height: 500px;
background-color: #fdeed4 ;
margin-top: 0%;
margin-right: 5%;
margin-left: 5%;
}

.mockupContainer{
  padding: 5%;
  margin-top: 0%;
  margin-right: 3%;
  margin-left: 3%;

}

/* content css OVERVIEW */
H2{
  color: #FFA505;
  font-family: 'Raleway', sans-serif;
  font-size: 25pt;
  font-weight: bolder;
  letter-spacing: 1pt;
  margin-top: 8%;
  margin-right: 5%;
  margin-left: 11%;
}

p{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 21pt;
  letter-spacing: 1pt;
  line-height: 42pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}


.orange-line{ 
  height: 4px;
  background-color: #FFA505;
  padding: 0.2%;
  margin-top: 8%;
  margin-right: 5%;
  margin-left: 5%;

}

/* research css */

.researchContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* definition and synthesis css */


.defsynthContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* ideation css */


.ideationContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* low fidelity css */


.lowfiprotoContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

/* user testing & outcomes css */

.usertestingContent{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}

.prototypeContainer{
  padding: 5%;
  margin-top: 0%;
  margin-right: 11%;
  margin-left: 11%;
}



/* project summary css */

.projectSum{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 5%;
  margin-left: 11%;
}

ol {
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1.5pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 5%;
  margin-left: 11%;
}


/* Final Protoype */

.finalPrototypePantry{
  color: #707070;
  font-family: 'Cabin', sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
  line-height: 25pt;
  opacity: 0.7;
  margin-right: 11%;
  margin-left: 11%;
}


button[type="finalProto"]{
  width:200px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 17px;
  font-weight: normal;
  border-radius: 8px;
  font-family: Raleway, sans-serif;
  background-color: #FFA505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 42%;
  transition: .3s, ease-in ease-out;
  

}

button[type="finalProto"]:hover{
background-color: #E59200;
font-weight: bold;
}






/* path to other works */







/* footer css */

footer {
  position:sticky;
  justify-content: space-evenly;
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color:#fdeed4;
  padding: 3%;
  }
  
.footerContact{
margin-top: 10%;
 
}

.footerLogo{
  margin-left: 10%;
  text-align: center;
  margin-top: 5%;
  margin-right: 4%;
}

.footerSocials{
  margin-top: 8%;
  margin-right: 10%;
  text-align: end;
}
