/* nav css */

  .nav-logo {
    width: 10%;
    padding: 1%;
    margin: 1%;
    text-align: center; 
  }

  nav {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-right: 3%;
    
  }

a {
  color: #F7BC54;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;

}


  /* hero image css */
  .heroImg {
    height: 600px;
    padding: 80px;
    justify-content: flex-end;
   
  }
  
  .content {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    justify-content: right;
    text-align: center;
  }

  .content > img{
    width: 50%;
  }

/* Hero content css */

  h1{
    text-align: left;
    font-size: 35pt;

}

.content > p{
  text-align: left;
  font-size: 20pt;
}

 
 /* my work CSS */


.caseStudy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.caseStudy-img {
justify-content: left;

}

 .workGrid{
     display:grid;
     grid-template-areas: 'myArea1';
     grid-template-columns: 2fr;
    margin: 0 auto;
    padding: 100px;
    background-color: red;
 }

.item1{
    display: grid;
    margin: 10px;
    background-color: forestgreen;
}

H3{
    text-align: center;
}

    

/* footer css */

.footer {
  height: 5px;
  background-color: #F7BC54;
  opacity: 0.5;
  padding: 5%;
  }





@media only screen and (max-width:600) {
    .flexContainer{
        display: flex;
        width: 100vw;
        margin: 0 auto;
        flex-direction: column;
    }       
 }