* {
  scroll-behavior: smooth;
}

/* nav css */
  .nav-logo {
    display: flex;
    width: 10%;
    padding: 2%;
    margin: 1%;
    text-align: center; 
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
  }

  .navMenu {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-right: 3%;
    position: sticky;
    z-index: 999;
    top: 0;
  }



a {
  color: black;
  font-weight: 25pt;
}
a:hover {
  color:#F7BC54;
  font-weight: bold;
}








  /* Intro Section css */

.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px;
 
} 

  .alondraElements{
    position: relative;
  
  }

  .alondraImg{
    margin-top: 13%;
    margin-left: 18%;
    transform: translate(5%, -12.5%);
    z-index: 1;

  }
  .initialBackground{
    position: absolute;
    transform: translate(5%, -7%);
    z-index: -1;
  }

.alondraText{
  font-family: 'Raleway', sans-serif;
  
}

H1{
  font-family: 'Raleway', sans-serif;
  font-size: 57pt;
  letter-spacing: 1.5pt;
  line-height: 67pt;
  transform: translate(43%, 25%);

}

.introText{
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 17pt;
  line-height: 35pt;
  transform: translate(43%, 27%);
}

button[type="inTouch"]{
  width: 200px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 19px;
  font-weight: 150pt;
  border-radius: 8px;
  font-family: 'Semibold Cabin', sans-serif;
  background-color: #FFE505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  transform: translate(185%, 90%);
  transition: .3s, ease-in ease-in-out;
  
}

button[type="inTouch"]:hover{
  background-color: #ffe509;
  font-weight: 500px;
  color: black;
  font-weight: bold;
  font-family: 'Bold Cabin', sans-serif;
  text-emphasis-color: black;
  box-shadow: 3px 3px 3px 2px grey;
  transition: .3s, ease-in-out ;
  }

 /* arrow Animation */

.sectionArrow{
  text-align: center;
}

.orangeArrow {
  position: relative;
  animation-name: arrow;
  animation-duration: 3s ;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
}

@keyframes arrow  {
  0%   {top:0px;}
  25%  {top:15px;}
  50%  {top:0px;}
}

 
 /*  Case study CSS */


.caseStudy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
}

.caseStudy-img {
justify-content: left;
width: 400px;
max-width: 600px;
min-width: none;

}

.caseStudy-blurb{
margin-left: 45px;
margin-right: -55%;
}

h4{
  font-size: 25pt;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
}

.caseStudy-summary{
  line-height: 25pt;
  font-size: 16pt;
  margin-left: 8%;
  margin-bottom: -3%;
}

 .workGrid{
     display:grid;
     grid-template-areas: 'myArea1';
     grid-template-columns: 2fr;
     margin: 5%;
     padding: 40px;
 }

.item1{
    display: grid;
    margin-top: 8%;
    margin-bottom: 4%;
    background-color: #fdeed4; 
    max-width: 1200px;
}

button[type="caseStudy"]{
  width: 200px;
  height: 75px;
  border: none;
  outline: none;
  padding: 20px; 
  font-size: 19px;
  font-weight: 150pt;
  border-radius: 8px;
  font-family: 'Semibold Cabin', sans-serif;
  background-color: #FFA505;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  transform: translate(10%, -5%);
  transition: all .3s, ease;
}


button[type="caseStudy"]:hover{
  background-color: #E59200;
  font-weight: bold;
  }
  

/* footer css */

footer {
  justify-content: space-evenly;
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color:#fdeed4;
  padding: 3%;
  }
  
.footerContact{
margin-top: 10%;
 
}

.footerLogo{
  margin-left: 10%;
  text-align: center;
  margin-top: 5%;
  margin-right: 4%;
}

.footerSocials{
  margin-top: 8%;
  margin-right: 10%;
  text-align: end;
}



@media screen and (max-width:650px){

.nav-logo{
  width: 100%;
}

.nav-link{
  opacity: 1%;
  margin-top: -1000%;
}

/* Style the navigation menu */
.navbarToggle {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navbarToggle #mobileMenu {
  display: none;
}

/* Style navigation menu links */
.navbarToggle a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.navbarToggle a.icon {
  background:orange;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: orange;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: orange;
  color: white;
}



  













}








